<script src="/assets/js/tabulator.min.js" defer></script>
<script src="/assets/js/tabler.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.6.0/jspdf.plugin.autotable.min.js"></script>
<script>
    var table;
    document.querySelector("#domainTable").addEventListener('click', function(e) {
        if (e.target.matches('.update-btn')) {
            let id = e.target.getAttribute('data-id');
            updateRecord(id);
        } else if (e.target.matches('.delete-btn')) {
            let id = e.target.getAttribute('data-id');
            deleteRecord(id);
        } else if (e.target.matches('.renew-btn')) {
            let id = e.target.getAttribute('data-id');
            renewDomain(id);
        }
    });
   
    document.addEventListener("DOMContentLoaded", function(){
    function domainLinkFormatter(cell){
        var value = cell.getValue();
        return `<a href="/domain/view/${value}" style="font-weight:bold;">${value}</a>`;
    }
   
    function actionsFormatter(cell, formatterParams, onRendered) {
        return `
            <button class="btn btn-primary btn-icon update-btn" data-id="${cell.getRow().getData().id}"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path><path d="M16 5l3 3"></path></svg></button>
            <button class="btn btn-secondary btn-icon renew-btn" data-id="${cell.getRow().getData().id}"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path></svg></button>
            <button class="btn btn-danger btn-icon delete-btn" data-id="${cell.getRow().getData().id}"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7h16"></path><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path><path d="M10 12l4 4m0 -4l-4 4"></path></svg></button>
        `;
    }

    function statusFormatter(cell) {
        var statusArray = cell.getValue();
        if (statusArray && Array.isArray(statusArray)) {
            return statusArray.map(item => item.status).join(', ');
        }
        return "";
    }
    
    var searchTerm = ""; // global variable to hold the search term

    function updateSearchTerm(term) {
        searchTerm = term;
        table.replaceData();
    }

    table = new Tabulator("#domainTable", {
        pagination: true,
        paginationMode: "remote",
        paginationSize: 10,
        ajaxURL: "/api/records/domain",
        ajaxParams: {
            join: "contact",
            join: "domain_status"
        },
        ajaxURLGenerator: function(url, config, params) {
            var queryParts = ["join=contact", "join=domain_status"];

            // Handle search term
            if (searchTerm) {
                queryParts.push("filter1=name,cs," + encodeURIComponent(searchTerm));
                queryParts.push("filter2=crdate,cs," + encodeURIComponent(searchTerm));
                queryParts.push("filter3=exdate,cs," + encodeURIComponent(searchTerm));
            }

            // Handle sorting
            if (params.sorters && params.sorters.length) {
                params.sorters.forEach(function(sorter) {
                    queryParts.push("order=" + sorter.field + "," + sorter.dir);
                });
            } else {
                queryParts.push("order=id"); // default sorting
            }

            // Include pagination parameters
            if (params.page) {
                queryParts.push("page=" + params.page + "," + params.size);
            }

            return url + "?" + queryParts.join("&");
        },
        ajaxResponse: function(url, params, response) {
            if (response && Array.isArray(response.records) && typeof response.results === 'number') {
                var lastPage = Math.ceil(response.results / this.options.paginationSize);
                return {
                    last_page: lastPage, // Calculated total number of pages
                    data: response.records, // Data for the current page
                };
            } else {
                console.error('Unexpected response format', response);
                return { last_page: 1, data: [] };
            }
        },
        dataReceiveParams: {
            "last_page": "results", // Mapping 'results' to 'last_page'
        },
        sortMode: "remote",
        columnSorted:function(column, dir, sorters){
            table.setData();
        },
        headerSortElement: function(column, dir){
            switch(dir){
                case "asc":
                    return '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 15l6 -6l6 6" /></svg>';
                break;
                case "desc":
                    return '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>';
                break;
                default:
                    return '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 9l4 -4l4 4m-4 -4v14" /><path d="M21 15l-4 4l-4 -4m4 4v-14" /></svg>';
            }
        },
        layout:"fitDataFill",
        responsiveLayout: "collapse",
        responsiveLayoutCollapseStartOpen:false,
        resizableColumns:false,
        columns:[
            {formatter:"responsiveCollapse", width:30, minWidth:30, hozAlign:"center", resizable:false, headerSort:false, responsive:0},
            {title:"Name", field:"name", width:150, headerSort:true, formatter: domainLinkFormatter, responsive:0},
            {title:"Registrant", width:200, field:"registrant.identifier", headerSort:true, responsive:2},
            {title:"Creation Date", width:250, field:"crdate", headerSort:true, responsive:2},
            {title:"Expiration Date", width:250, field:"exdate", headerSort:true, responsive:2},
            {title:"Status", width:200, field:"domain_status", formatter: statusFormatter, headerSort:false, download:false, responsive:2},
            {title: "Actions", formatter: actionsFormatter, headerSort: false, download:false, hozAlign: "center", responsive:0, cellClick:function(e, cell){ e.stopPropagation(); }},
        ],
        placeholder:function(){
            return this.getHeaderFilters().length ? "No Matching Data" : "No Data"; //set placeholder based on if there are currently any header filters
        }
    });
    var searchInput = document.getElementById("search-input");
    searchInput.addEventListener("input", function () {
        updateSearchTerm(searchInput.value);
    });
    });
   
    function updateRecord(id) {
        console.log("Updating record with ID: " + id);
    }
   
    function deleteRecord(id) {
        console.log("Deleting record with ID: " + id);
    }
   
    function renewDomain(id) {
        console.log("Renewing domain with ID: " + id);
    }
   
    function downloadCSV() {
        table.download("csv", "data.csv");
    }

    function downloadJSON() {
        table.download("json", "data.json");
    }

    function downloadXLSX() {
        table.download("xlsx", "data.xlsx", {sheetName:"My Domains"});
    }
    
    function downloadPDF() {
        table.download("pdf", "data.pdf", {
            orientation:"portrait",
            title:"My Domains",
            jsPDF:{unit:"mm", format:"a4", orientation:"p"}
        });
    }
</script>