<?php

return [
    'db_type' => 'mysql',
    'db_host' => 'localhost',
    'db_port' => 3306,
    'db_database' => 'your_database_name',
    'db_username' => 'your_username',
    'db_password' => 'your_password',
    'epp_host' => '0.0.0.0',
    'epp_port' => 700,
    'epp_pid' => '/var/run/epp.pid',
    'epp_greeting' => 'Namingo EPP Server 1.0',
    'epp_prefix' => 'namingo',
    'ssl_cert' => '',
    'ssl_key' => '',
    'test_tlds' => '.test,.xx',
];