<?php

return [
    'db_type' => 'mysql',
    'db_host' => 'localhost',
    'db_port' => 3306,
    'db_database' => 'registry',
    'db_username' => 'your_username',
    'db_password' => 'your_password',
    'epp_host' => '::', // Set to 0.0.0.0 if no IPv6 support
    'epp_port' => 700,
    'epp_pid' => '/var/run/epp.pid',
    'epp_greeting' => 'Namingo EPP Server 1.0',
    'epp_prefix' => 'namingo',
    'ssl_cert' => '/opt/registry/epp/epp.crt',
    'ssl_key' => '/opt/registry/epp/epp.key',
    'test_tlds' => '.test,.com.test',
    'rately' => false,
    'limit' => 1000,
    'period' => 60,
    'minimum_data' => false,
    // 'disable_60days' => true, // Disable 60-day transfer lock for domains and contacts
];