{
  "verbose": true,
  "logging": [
    {
      "type": "json",
      "target": "/var/log/namingo/backup.log"
    }
  ],
  "backups": [
    {
      "name": "Database",
      "source": {
        "type": "mysqldump",
        "options": {
          "databases": "registry,registryAudit,registryTransaction",
          "user": "your_username",
          "password": "your_password",
          "quick": true,
          "singleTransaction": true,
          "lockTables": false
        }
      },
      "target": {
        "dirname": "/srv",
        "filename": "database-%Y%m%d-%H%i.sql",
        "compress": "bzip2"
      },
      "checks": [
        {
          "type": "sizemin",
          "value": "10M"
        }
      ],
      "cleanup": {
        "type": "Capacity",
        "options": {
          "size": "750M"
        }
      }
    },
    {
      "name": "Registry",
      "source": {
        "type": "tar",
        "options": {
          "path": "/opt/registry",
          "throttle": "5m"
        }
      },
      "target": {
        "dirname": "/srv",
        "filename": "registry-%Y%m%d-%H%i.sql",
        "compress": "bzip2"
      },
      "checks": [
        {
          "type": "sizemin",
          "value": "10M"
        }
      ],
      "cleanup": {
        "type": "Capacity",
        "options": {
          "size": "750M"
        }
      }
    },
    {
      "name": "Panel",
      "source": {
        "type": "tar",
        "options": {
          "path": "/var/www/cp",
          "throttle": "5m"
        }
      },
      "target": {
        "dirname": "/srv",
        "filename": "panel-%Y%m%d-%H%i.sql",
        "compress": "bzip2"
      },
      "checks": [
        {
          "type": "sizemin",
          "value": "10M"
        }
      ],
      "cleanup": {
        "type": "Capacity",
        "options": {
          "size": "750M"
        }
      }
    }
  ]
}