<?php

return [
    // Database Configuration
    'db_type' => 'mysql',
    'db_host' => 'localhost',
    'db_port' => 3306,
    'db_database' => 'your_database_name',
    'db_username' => 'your_username',
    'db_password' => 'your_password',
    
    // Escrow Configuration
    'escrow_deposit_path' => '/opt/escrow',
    'escrow_deleteXML' => false,
    'escrow_RDEupload' => false,
    'escrow_BRDAupload' => false,
    'escrow_BRDAday' => 'Tuesday',
    'escrow_keyPath' => '/opt/escrow/escrowKey.asc',
    'escrow_keyPath_brda' => '/opt/escrow/icann-brda-gpg.pub',
    'escrow_privateKey' => '/opt/escrow/privatekey.asc',
    'escrow_sftp_host' => 'your.sftp.server.com',
    'escrow_sftp_username' => 'your_username',
    'escrow_sftp_password' => 'your_password',
    'escrow_sftp_remotepath' => '/path/on/sftp/server/',
    'brda_sftp_host' => 'your.sftp.server.com',
    'brda_sftp_username' => 'your_username',
    'brda_sftp_password' => 'your_password',
    'brda_sftp_remotepath' => '/path/on/sftp/server/',
    'escrow_report_url' => 'https://ry-api.icann.org/report/',
    'escrow_report_username' => 'your_username',
    'escrow_report_password' => 'your_password',

    // Reporting Configuration
    'reporting_path' => '/opt/reporting',
    'reporting_upload' => false,
    'reporting_username' => 'your_username',
    'reporting_password' => 'your_password',
    
    // Zone Writer Configuration
    'dns_server' => 'bind',
    'ns' => [
        'ns1' => 'ns1.namingo.org',
        'ns2' => 'ns2.namingo.org',
        // ... more name servers as needed ...
    ],
    'dns_soa' => 'hostmaster.example.com',
    
    // URS Configuration
    'urs_imap_host' => '{your_imap_server:993/imap/ssl}INBOX',
    'urs_imap_username' => 'your_username',
    'urs_imap_password' => 'your_password',
    
    // Notifications Configuration
    'mailer' => 'phpmailer', // sendgrid, mailgun are also available
    'mailer_api_key' => 'YOUR_API_KEY',
    'mailer_domain' => 'example.com',
    'mailer_from' => 'from@example.com',
    'mailer_smtp_host' => 'smtp.example.com',
    'mailer_smtp_username' => 'your_email@example.com',
    'mailer_smtp_password' => 'your_password',
    'mailer_smtp_port' => 587,
    
    'mailer_sms' => 'twilio', // telesign, plivo, vonage, clickatell are also available
    'mailer_sms_account' => 'YOUR_ACCOUNT_SID/USERNAME',
    'mailer_sms_auth' => 'YOUR_AUTH_TOKEN/PASSWORD',
    
    // TMCH Configuration
    'tmch_path' => '/tmp/',
    'tmch_smdrl_user' => 'your_username',
    'tmch_smdrl_pass' => 'your_password',
    'tmch_dnl_user' => 'your_username',
    'tmch_dnl_pass' => 'your_password',
];