#----------> Crontab Configuration for Namingo <--------------------------------#

# run write-zone.php every 15 min.
*/15 * * * * root /usr/bin/php8.2 /opt/registry/automation/write-zone.php

# run statistics.php at 59 min, every hour
59 * * * * root /usr/bin/php8.2 /opt/registry/automation/statistics.php

# run backup at 59 min, every hour
59 * * * * /opt/registry/automation/vendor/bin/phpbu --configuration=/opt/registry/automation/backup.json

# run change-domain-status.php every hour
30 * * * * root /usr/bin/php8.2 /opt/registry/automation/change-domain-status.php

# run auto-approve-transfer.php every hour
45 * * * * root /usr/bin/php8.2 /opt/registry/automation/auto-approve-transfer.php

# run abusemonitor.php every hour
30 * * * * root /usr/bin/php8.2 /opt/registry/automation/abusemonitor.php

# run abusereport.php every day
5 0 * * * root /usr/bin/php8.2 /opt/registry/automation/abusereport.php

# run send-invoice.php every 1st day
1 0 1 * * root /usr/bin/php8.2 /opt/registry/automation/send-invoice.php

# run auto-clean-unused-contact-and-host.php every day
5 0 * * * root /usr/bin/php8.2 /opt/registry/automation/auto-clean-unused-contact-and-host.php

# run tmch.php twice a day
0 0,12 * * * root /usr/bin/php8.2 /opt/registry/automation/tmch.php

# run escrow.php every day
5 0 * * * root /usr/bin/php8.2 /opt/registry/automation/escrow.php

# run rdap-urls.php every day
50 1 * * * root /usr/bin/php8.2 /opt/registry/automation/rdap-urls.php

# run file_cache.php every day
0 2 * * * root /usr/bin/php8.2 /var/www/cp/bin/file_cache.php

# run reporting.php every 1st day
1 0 1 * * root /usr/bin/php8.2 /opt/registry/automation/reporting.php

# run urs.php every hour
45 * * * * root /usr/bin/php8.2 /opt/registry/automation/urs.php

#----------> End Crontab Configuration for Namingo <----------------------------#