[Unit]
Description=EPP Server
After=network.target

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
ExecStart=/usr/bin/php /opt/registry/epp/start_epp.php
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
WorkingDirectory=/opt/registry/epp
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=epp

[Install]
WantedBy=multi-user.target
