[Unit]
Description=EPP Server
After=network.target

[Service]
Type=exec
User=root
Group=root
WorkingDirectory=/opt/registry/epp

ExecStart=/usr/bin/php /opt/registry/epp/start_epp.php

KillSignal=SIGTERM
KillMode=mixed
TimeoutStopSec=30
SendSIGKILL=yes

Restart=always
RestartSec=3

StandardOutput=journal
StandardError=journal
SyslogIdentifier=epp

[Install]
WantedBy=multi-user.target