[Unit]
Description=Message Producer Service
After=network.target redis.service
Requires=redis.service

[Service]
Type=forking
User=root
Group=root
Restart=on-failure
ExecStart=/usr/bin/php /opt/registry/automation/msg_producer.php
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
WorkingDirectory=/opt/registry/automation
StandardOutput=journal
StandardError=journal
SyslogIdentifier=msg_producer
PIDFile=/var/run/msg_producer.pid
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target