[Unit]
Description=RDAP Server
After=network.target

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
ExecStart=/usr/bin/php /opt/registry/rdap/start_rdap.php
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
WorkingDirectory=/opt/registry/rdap
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rdap

[Install]
WantedBy=multi-user.target
