<?php

return [
    'db_type' => 'mysql',
    'db_host' => 'localhost',
    'db_port' => 3306,
    'db_database' => 'registry',
    'db_username' => 'your_username',
    'db_password' => 'your_password',
    'roid' => 'XX',
    'registry_url' => 'https://example.com/rdap-terms',
    'rdap_url' => 'https://rdap.example.com',
];