APP_NAME='CP'
APP_ENV=public
APP_URL=https://cp.example.com
APP_DOMAIN=example.com
APP_ROOT=/var/www/cp

DB_DRIVER=mysql
DB_HOST=localhost
DB_DATABASE=registry
DB_USERNAME=root
DB_PASSWORD=
DB_PORT=3306

#mailer settings (Driver = smtp or utopia, Api Provder = sendgrid or mailgun)

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=username
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS='example@domain.com'
MAIL_FROM_NAME='Example'
MAIL_API_KEY='test-api-key'
MAIL_API_PROVIDER='sendgrid'

STRIPE_SECRET_KEY='stripe-secret-key'

TEST_TLDS=.test,.com.test