<?php

return [
    'db_type' => 'mysql',
    'db_host' => 'localhost',
    'db_port' => 3306,
    'db_database' => 'registry',
    'db_username' => 'your_username',
    'db_password' => 'your_password',
    'whois_ipv4' => '0.0.0.0',
    'whois_ipv6' => '::', // Set to false if no IPv6 support
    'privacy' => false,
    'minimum_data' => false,
    'roid' => 'XX',
    'rately' => false,
    'limit' => 25,
    'period' => 60,
];